<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {{ 'tailwind.css' | asset_url | stylesheet_tag }}
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}
  </body>
</html>
